<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Интересы</h3>
    </div>

    <div *ngIf="selectedInterest; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock> 
   
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="list-group">
                        <a *ngFor="let interest of interestList" (click)="onSelect(interest)" [ngClass]="{'active':interest === selectedInterest}" class="list-group-item"> 
                            {{interest.name}}
                        </a>
                    </div>
                    <button type="button" class="btn btn-success btn-lg" (click)="completeInterest()">Выполнить</button>
                </div>
                <div class="col-md-5">
                        <div class="media">
                          <div class="media-left">
                              <img class="media-object" [src]="selectedInterest.img"  height="200" width="200">
                          </div>
                          <div class="media-body">
                            <h2 class="media-heading">{{selectedInterest.name}}</h2>
                            <h4>{{selectedInterest.value}}</h4>
                            {{selectedInterest.description}}
                          </div>
                        </div>
                </div>
            </div>
        </div>

    </ng-template>
     <ng-template #elseBlock>
      <div class="panel-body">
         <img src="static/task_dispatch/loading.gif"/>
       </div>
     </ng-template>
</div>