<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Выполнить задачу</h3>
    </div>
    <!--<div class="panel-body">-->
        <!--<div class="list-group">-->
            <!--<h1>Список: {{new_item.list_name}}</h1>-->
            <!--<h2>Имя нового объекта: {{new_item.item_name}}</h2>-->
        <!--</div>-->
    <!--</div>-->

<div class="panel-body">
      <div class="row">
      <div class="col-md-5">
            Левая колонка со списком
      </div>
      <div class="col-md-7">
            Правая колонка со инфой
        </div>
    </div>
    </div>

</div>