<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Панель управления</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
		<button type="button" class="btn btn-primary btn-lg" (click)="SyncIds()" [ngClass]="{'disabled':syncing}">
			Синхронизировать id trello и внутренние
		</button>
		</div>
        <div class="col-md-4">
        	    <div *ngIf="!syncing; then thenBlock else elseBlock"></div>
    			<ng-template #thenBlock> 
			        <div class="alert" [ngClass]="{'alert-info' : (status === 0), 'alert-success' : (status === 1), 'alert-danger' : (status === 2)}" > 
			        <!-- <div class="alert alert-info">  -->
			        {{syncIdsStatus}}
			        </div>
			    </ng-template>
    			<ng-template #elseBlock> 
    				<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						  </div>
						</div>

			    </ng-template>
		</div>

    </div>

      <div class="row">
        <div class="col-md-4">
		<button type="button" class="btn btn-primary btn-lg" (click)="SyncInterestsIds()" [ngClass]="{'disabled':syncingInterests}">
			Синхронизировать списки интересов
		</button>
		</div>
        <div class="col-md-4">
        	    <div *ngIf="!syncingInterests; then thenBlock else elseBlock"></div>
    			<ng-template #thenBlock> 
			        <div class="alert" [ngClass]="{'alert-info' : (statusInterests === 0), 'alert-success' : (statusInterests === 1), 'alert-danger' : (statusInterests === 2)}" > 
			        <!-- <div class="alert alert-info">  -->
			        {{syncInterestsIdsStatus}}
			        </div>
			    </ng-template>
    			<ng-template #elseBlock> 
    				<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						  </div>
						</div>

			    </ng-template>
		</div>
    </div>

      <div class="row">
        <div class="col-md-4">
		<button type="button" class="btn btn-primary btn-lg" (click)="SyncInputTasks()" [ngClass]="{'disabled':syncingInputTasks}">
			Синхронизировать Входящий список
		</button>
		</div>
        <div class="col-md-4">
        	    <div *ngIf="!syncingInputTasks; then thenBlock else elseBlock"></div>
    			<ng-template #thenBlock> 
			        <div class="alert" [ngClass]="{'alert-info' : (statusInputTasks === 0), 'alert-success' : (statusInputTasks === 1), 'alert-danger' : (statusInputTasks === 2)}" > 
			        <!-- <div class="alert alert-info">  -->
			        {{syncInputTasksStatus}}
			        </div>
			    </ng-template>
    			<ng-template #elseBlock> 
    				<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						  </div>
						</div>

			    </ng-template>
		</div>
    </div>

    <div class="row">
       <div class="col-md-4">
		<button type="button" class="btn btn-primary btn-lg" (click)="SyncHabitica()" [ngClass]="{'disabled':syncingHabitica}">
			Синхронизировать Habitica
		</button>
		</div>
        <div class="col-md-4">
        	    <div *ngIf="!syncingHabitica; then thenBlock else elseBlock"></div>
    			<ng-template #thenBlock> 
			        <div class="alert" [ngClass]="{'alert-info' : (statusHabitica === 0), 'alert-success' : (statusHabitica === 1), 'alert-danger' : (statusHabitica === 2)}" > 
			        <!-- <div class="alert alert-info">  -->
			        {{syncHabiticaStatus}}
			        </div>
			    </ng-template>
    			<ng-template #elseBlock> 
    				<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						  </div>
						</div>

			    </ng-template>
		</div>
    </div>



</div>
