{% extends "./base.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Выполнить задачу</h3>
    </div>
    {% if new_item %}
    <div class="panel-body">
        <div class="list-group">
            <h1>Список: {{new_item.list_name}}</h1>
            <h2>Имя нового объекта: {{new_item.item_name}}</h2>
        </div>
    </div>

    {% else %}
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                Список интересов
            </a>
            {% for elem in elems %}
            <a href="{% url 'complete_by_id' elem.key %}" class="list-group-item list-group-item-action">{{ elem.name}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
