{% extends "./base.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Задача </h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label for="name">Задача:</label>
            <input type="text" class="form-control" id="name" value="{{task.name}}">
        </div>

        <div class="form-group">
            <label for="description">Описание:</label>
            <input type="text" class="form-control" id="description" value="{{task.description}}">
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Особенности: </h3>
            </div>
            <div class="panel-body">
                <h1>Тут будут особенности</h1>
                {{task.special}}
            </div>
        </div>

        <div class="form-group">
            <label for="task_types">Тип задачи:</label>
            <select class="form-control" id="task_types">
                {% for task in task_types %}
                <option>{{task.description}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="type">Тип:</label>
            <select class="form-control" id="type">
                {% for type in types %}
                <option>{{type.description}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Чеклист: </h3>
            </div>
            <div class="panel-body">
                <h1>Тут будет чеклист</h1>
                {{task.checklist}}
            </div>
        </div>


    </div>
</div>


{% endblock %}
